@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@700&family=Poppins&display=swap');

/* Contact Form */
.contactModal .contact-form {
  flex: 1;
  position: relative;
  background-size: cover;
  background-position: center;
  padding: 2rem;
  /* box-shadow: 0 6px 14px rgba(46, 77, 37, 0.15); */
  color: white;
  transition: transform 0.5s ease, box-shadow 0.3s ease;
  overflow: hidden;
}

.contactModal .contact-form::before {
  content: "";
  position: absolute;
  inset: 0;
  /* background-color: rgba(46, 77, 37, 0.7);/ */
  backdrop-filter: blur(3px);
  z-index: 0;
}

.contactModal .contact-form form {
  position: relative;
  z-index: 1;
}


.contactModal .form-group {
  margin-bottom: 1rem;
}

.contactModal input[type="text"],
.contactModal input[type="email"],
.contactModal input[type="tel"],
.contactModal textarea {
  background-color: rgba(255, 255, 255, 0.1);
  color: white;
  border: 1px solid rgba(255, 255, 255, 0.6);
  border-radius: 8px;
  padding: var(--text-sm);
  font-size: var(--text-sm);
  width: 100%;
  box-sizing: border-box;
  transition: all 0.3s ease;
  backdrop-filter: blur(5px);
}

.contactModal input::placeholder,
.contactModal textarea::placeholder {
  color: rgba(255, 255, 255, 0.8);
}

.contactModal input:focus,
.contactModal textarea:focus {
  outline: none;
  border-color: #4CAF50;
  box-shadow: 0 0 0 2px rgba(76, 175, 80, 0.2);
  background-color: rgba(255, 255, 255, 0.15);
}

.contactModal textarea {
  height: 150px;
}

.submit-btn {
  background-color: #D1C8C1;
  color: white;
  padding: 1rem 2rem;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-size: 1.1rem;
  font-weight: 600;
  transition: all 0.3s ease;
  width: 100%;
}

.submit-btn:hover {
  background-color: #a29890;
  transform: translateY(-2px);
  box-shadow: 0 4px 12px rgba(46, 125, 50, 0.2);
}

.submit-btn:disabled {
  background-color: #A5D6A7;
  cursor: not-allowed;
  transform: none;
  box-shadow: none;
}

@media (min-width: 768px ) {
  .contactModal input[type="text"],
.contactModal input[type="email"],
.contactModal input[type="tel"],
.contactModal textarea {
  background-color: rgba(255, 255, 255, 0.1);
  color: white;
  border: 1px solid rgba(255, 255, 255, 0.6);
  border-radius: 8px;
  padding: 1rem;
  font-size: 1rem;
  width: 100%;
  box-sizing: border-box;
  transition: all 0.3s ease;
  backdrop-filter: blur(5px);
}
}

/* Responsive */


@media (max-width: 480px) {
  .submit-btn {
    font-size: 1rem;
    padding: 0.75rem 1.5rem;
  }
}
